<!--
 * @author 2M4U
 * @description Almost fully working Lanyard/Spotify website built with custom CSS, JS.
 * @copyright 2022
 * @private This portfolio MUST remain with this header if you use this as it's only fair to give credit where due.
-->
<!DOCTYPE html>
<head>
   <title>2M4U@1.3.3.7: ~ </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="My personal portfolio with lanyard">
   <meta itemprop="name" content="2M4U@1.3.3.7: ~ ">
   <meta itemprop="description" content="My personal portfolio with lanyard">
   <meta itemprop="image" content="https://i.imgur.com/CLrZtBU.gif">
   <meta itemprop="color" content="#1DB954">
   <meta property="og:url" content="/">
   <meta property="og:type" content="website">
   <meta property="og:title" content="2M4U@1.3.3.7: ~ ">
   <meta name="keywords" content="Software Engineer, Networking/Systems Administrator, Developer">
   <meta property="og:description" content="My personal portfolio with lanyard">
   <meta property="og:image" content="https://i.imgur.com/CLrZtBU.gif">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="2M4U@1.3.3.7: ~ ">
   <meta name="twitter:description" content="My personal portfolio with lanyard">
   <meta name="twitter:image" content="https://i.imgur.com/CLrZtBU.gif">
   <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!---<script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool@latest/disable-devtool.min.js" url="https://github.com/2m4u/my-portfolio"></script>
   -->
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<body>
 
<main id="container">
   <div id="terminal">
      <section id="terminal__bar">
         <div id="bar__buttons">            
            <button class="bar__button">&#9472;</button> 
            <button class="bar__button">&#9723;</button>   
            <button class="bar__button" id="bar__button--exit">🗙</button>            
         </div>
         <p id="terminal_title">2M4U@1.3.3.7: ~</p>
      </section>
      <section id="terminal__body">
         <div id="terminal__prompt">
            <span id="terminal__prompt--user">2M4U@1.3.3.7:</span>            
            <span id="terminal__prompt--location">~</span>            
            <span id="terminal__prompt--bling">$</span>&nbsp;
            <!-- <div id="typed-strings">
                <p>Typed.js is a <strong>JavaScript</strong> library.</p>
                <p>It <em>types</em> out sentences.</p>
              </div> -->
            <span id="bio" style="color: white;"/>
            </span>
            <span class="spotify">
               <div class="spotifyBox tooltip">
                <img id="album" class="spotifyBox spotifyAlbum" style="visibility: hidden;" alt="Spotify Album">
                   
                <div class="spotifyData-text" id="name">
                  </div>
                  <div class="spotifyData-text"id="artist">
                  </div>
                  <div class="spotifyData-text" id="timestamp">
                  </div>
                  <a id="icon" class="tooltip tooltiptext">Listen Here</a>
                  <br>
                  
                     <i class="fab fa-spotify fa-lg" aria-hidden="true"></i>
                 <br>
                  <!-- </a> -->
               </div>
            </span>
            <span class="github">
               <div class="githubBox tooltip">
                    
                  <i class="fab fa-github fa-lg" aria-hidden="true"></i><br>
               </div>
            </span>
            <span class="discord">
               <div class="discordBox">
                  <sup>
                     <div class="discord-Text" id="username">&nbsp;</div>
                  </sup>
                  <div class="discord-Text dot" id="status" style="display: inline-block;  width: 8px; height: 8px; border-radius: 50%; background-color: grey; opacity: .25; "></div>
                  <img id="avatar" class="discordBox discordAvatar" src="https://cdn.discordapp.com/embed/avatars/1.png">
                  <br>
               </div>
            </span>
         </div>
      </section>
   </div>
</main>
<script defer src="lanyard.js"></script>
<script>
    var typed = new Typed('#bio', {
      strings: ['', 'sh ./portfolio',"Welcome to my playground!<br>My alias is 2M4U, I am a 27 year old Cyber Security Enthusiast.<br>I have spent the past 10+ years studying and coding many opensource projects.<br>I have some knowledge in networking and other fields surrounding Cyber Security.<br>You can check out my repos by clicking <a href='https://github.com/2M4U'>here</a>.<br>This source is also avaliable on my Github."],
      typeSpeed: 60
    });
  </script>
  </body>
</html>
