/* Custom CSS by 2M4U */
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Bubbler+One");

body {
  background: #28254c;
  font-family: Bubbler One;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}
#terminal {
  width: 70vw;
  height: 65vh;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
#bar__buttons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
  cursor: pointer;
}
.bar__button:focus {
  outline: none;
}
#bar__button--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}
#terminal_title {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}
#terminal__body {
  background: rgba(56, 4, 40, 0.9);
  font-family: "Bubbler One";
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  position: relative;
}
#terminal__prompt {
  display: flex;
}
#terminal__prompt--user {
  color: #7eda28;
}
#terminal__prompt--location {
  color: #4878c0;
}
#terminal__prompt--bling {
  color: #dddddd;
}
.spotify {
  color: #1DB954;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 10px;
  background-color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: relative;
  z-index: 1;
  bottom: 10px;
  left: 58%;
  margin-left: -60px;
  opacity: 0.9;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.status {
  display: inline-block;
  margin-left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 82, 82);
  animation: blink 1200ms rgb(255, 82, 82) infinite;
  /* 2s ease-in-out 0s infinite normal none running jDeFty; */
}
#terminal__prompt--cursor {
  display: block;
  height: 17px;
  width: 3px;
  /* margin-left: 9px; */
  animation: blink 1200ms linear infinite;
}
.typer {
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink {
  0% {
    background: #ffffff;
  }
  49% {
    background: #ffffff;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffffff;
  }
}
@media (max-width: 600px) {
  #terminal {
    max-height: 90%;
    width: 90%;
  }
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  text-align: left;
}
.copyright-text {
  font-weight: 600;
}
footer {
  position: fixed;
  bottom: 5.5rem;
}
.spotifyBox {
  /* display: -webkit-box; */
  display: block;
  /* display: flex; */
  margin-left: 0.5rem;
  text-align: left;
}
.spotifyData-text {
  font-weight: 600;
}
.spotify {
  /* display: block; */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 0px;
  padding-bottom: 6px;
}
.spotifyAlbum {
  margin-left: -1px;
  margin-top: -13px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 0 0 3px 1px #37082b;
  background-clip: content-box;
  padding: 1px;
  margin-bottom: 8px;
}

.github {
  /* display: block; */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 26px;
  padding-bottom: 6px;
}
.githubBox {
  /* display: -webkit-box; */
  display: block;
  /* display: flex; */
  margin-left: 0.5rem;
  text-align: left;
}

.discord {
  /* display: block; */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 55px;
  padding-bottom: 4px;
}
.discordBox {
  /* display: -webkit-box; */
  display: block;
  /* display: flex; */
  margin-left: 0.5rem;
  text-align: left;
}
.discord-Text {
  font-weight: 600;
}
a {
  color: #1DB954;
  text-decoration: none;
}

a:visited {
  color: #1DB954;
  text-decoration: none;
}

a:active {
  color: #1DB954;
  text-decoration: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}
.discordAvatar {
  margin-left: 5px;
  margin-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 3px 1px #37082b;
  background-clip: content-box;
  padding: 1px;
  margin-bottom: -18px;
}
.dot {
  position: absolute;
  top: 32px;
  left: 83px;
  -webkit-animation: heartbeat 1950ms infinite;
  -moz-animation: heartbeat 1950ms infinite;
  -o-animation: heartbeat 1950ms infinite;
  animation: heartbeat 1950ms infinite;
}
